textarea {
    border: none;
    resize: none;
    overflow: hidden;
}

textarea:focus {
    outline: none;
}

textarea.scroll {
    overflow-y: scroll;
}

.rtl .jquery-placeholder-text {
    direction: rtl;
}

.rtl textarea {
    direction: rtl;
}





.jquery-placeholder-text {
    color: #aaa;
    -moz-transition: color, margin-left 0.15s ease-in;
    -webkit-transition: color, margin-left 0.15s ease-in;
    -0-transition: color, margin-left 0.15s ease-in;
    transition: color, margin-left 0.15s ease-in;
}

.jquery-placeholder-text.jquery-placeholder-text-focused {
    color: #ddd;
}

.heavy-animation .jquery-placeholder-text {
    margin-left: 0px;
}

.heavy-animation .jquery-placeholder-text.jquery-placeholder-text-focused {
    margin-left: 100px;
    font-style: italic;
}